# Jekyll
_site
.sass-cache
.jekyll-metadata
.jekyll-cache

# Ruby
Gemfile.lock
.bundle
vendor

# Jupyter
.ipynb_checkpoints
.ipynb_checkpoints/*

# Github ignore lists from: https://github.com/github/gitignore
# Available under the MIT license (https://github.com/github/gitignore)

# Github Archives Ignore List
## It's better to unpack these files and commit the raw source because
## git has its own built in compression methods.
*.7z
*.jar
*.rar
*.zip
*.gz
*.bzip
*.bz2
*.xz
*.lzma
*.cab

## Packing-only formats
*.iso
*.tar

## Package management formats
*.dmg
*.xpi
*.gem
*.egg
*.deb
*.rpm
*.msi
*.msm
*.msp

# Github CVS Ignore List
/CVS/*
*/CVS/*
.cvsignore
*/.cvsignore

# Github Linux Ignore List
*~

## KDE directory preferences
.directory

# Github SVN Ignore List
.svn/

# Github vim Ignore List
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# Directory where I dump stuff
_backup

# Ruby Gems
.vendor

# SQLite databases
*.sqlite
*.sqlite3

# Github MacOS

## General
.DS_Store
.AppleDouble
.LSOverride

## Icon must end with two \r
Icon


## Thumbnails
._*

## Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

## Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
