# Dependencies
plugins:
    - jekyll-feed
    - jekyll-gist
    - jekyll-paginate
    - jekyll-redirect-from
    - jekyll-seo-tag
    - jekyll-sitemap

# Setup
author:
    name: "Alexander Gude"
    first: "Alexander"
    last: "Gude"
    twitter: "alex_gude"
    github: "agude"

title: "Alex Gude"
tagline: "Data Scientist"
description: "A blog about technology, data science, machine learning, and more!"
logo: /files/headshot.jpg

# URL
url: http://alexgude.com
baseurl: ""
name: "AlexGude.com"

# Blog
paginate: 5
paginate_path: "/blog/page:num/"
permalink: /blog/:slug/

# Social for jekyll-seo-tag
twitter:
    username: "alex_gude"

social:
    name: "Alexander Gude"
    links:
        - https://twitter.com/alex_gude
        - https://github.com/agude
        - https://linkedin.com/in/AlexanderGude

# Google site verification via Jekyll-seo-tag
google_site_verification: NnoUcVom5yrsNeAcRLx7yQvWortvmqEP-yazzCmGSMA

# Google Analytics
google_analytics: UA-88777885-1

# Disable jekyll-optional-front-matter plugin
require_front_matter: true

# Theme configuration
theme_config:
    sidebar_color: '#3465a4'

# SASS
sass:
    sass_dir: _sass
    style: compressed

# Compress HTML http://jch.penibelst.de/
compress_html:
    clippings: []
    comments: []
    endings: []
    ignore:
        envs: []
    blanklines: false
    profile: false
    startings: []

# Excluded files from site
exclude:
    - LICENSE.md
    - CNAME
    - Gemfile
