/* Body resets
 *
 * Update the foundational and global aspects of the page.
 */

html {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
       -moz-box-sizing: inherit;
            box-sizing: inherit;
}

html {
  font-family: $root-font-family;
  line-height: $root-line-height;

  @media (min-width: 48em) {
      font-size: $small-screen-root-font-size;
  }
  @media (min-width: 58em) {
      font-size: $root-font-size;
  }
  @media (min-width: $large-breakpoint) {
      font-size: $root-font-size;
  }

  margin: 0;
  padding: 0;
}

body {
  color: $body-color;
  background-color: $body-bg;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

/* No `:visited` state is required by default (browsers will use `a`) */
a {
  color: $link-color;
  text-decoration: none;

  /* `:focus` is linked to `:hover` for basic accessibility */
  &:hover,
  &:focus {
    text-decoration: underline;
  }

  strong {
    color: inherit;
  }
}

img {
  display: block;
  max-width: 100%;
  margin: 0 0 1rem;
  border-radius: 5px;
}

table {
  margin-bottom: 1.2em;
  width: 100%;
  font-size: $table-font-size;
  font-variant-numeric: lining-nums tabular-nums;
  border-collapse: collapse;
  border-width: 0.12em 0;
  border-color: #515151;
  border-style: solid;
}

thead {
  border-bottom: 0.06em solid #515151;
  color: #303030;
}

td,
th {
  padding: .25em .5em;
}

th {
  text-align: left;
}
