{% comment %} Get the alt text. {% endcomment %}
{% if include.image_alt == nil or include.image_alt == "" %}
  {% capture alt_text %}Article header image, used for decoration.{% endcapture %}
{% else %}
  {% capture alt_text %}{{ include.image_alt }}{% endcapture %}
{% endif %}
<div class="article-card">
  <table>
    <tr>
      <td>
        {% comment %} The image. {% endcomment %}
        <a href="{{ include.url }}">
          <img src="{{ site.url }}{{ include.image }}" alt="{{ alt_text }}">
        </a>
      </td>
      <td>
        {% comment %} The text blurb. {% endcomment %}
        <a href="{{ include.url }}">
          <strong>{{ include.title }}</strong>
        </a>
        <br>
        {{ include.description }}
      </td>
    </tr>
  </table>
</div>
