<div class="article-card">
  <table>
    <tr>
      <td>
        {% comment %} The image. {% endcomment %}
        <a href="{{ include.url }}">
          <img src="{{ include.image }}" alt="{{ include.image_alt | default: "Article header image, used for decoration." }}">
        </a>
      </td>
      <td>
        {% comment %} The text blurb. {% endcomment %}
        <a href="{{ include.url }}">
          <strong>{{ include.title }}</strong>
        </a>
        <br>
        {{ include.description }}
      </td>
    </tr>
  </table>
</div>
