<div class="author-card">
  <table>
    <tr>
      <td>
        {% comment %} The text blurb. {% endcomment %}
        <a href="{{ site.url }}">
          <strong>Alex Gude </strong>
        </a>
        <br>
        Hi there! I'm Alex Gude, a physicist and data scientist in Silicon Valley.
        This site is where you can find my thoughts on technology, data science,
        machine learning, and more!
      </td>
      <td>
        {% comment %} The image. {% endcomment %}
        <div class="authorcard-portrait">
          <a href="{{ site.url }}">
            <img src="{{ site.url }}/files/headshot-small.jpg" alt="Headshot of Alexander Gude"/>
          </a>
        </div>
      </td>
    </tr>
  </table>
</div>
