{% comment %} Add an Article Card based only on the post url, making it easier
to add them by hand to articles.{% endcomment %}

{%- capture newline %}
{% endcapture -%}

{% assign target_url = include.url %}

{% for post in site.posts %}
  {% if post.url != target_url %}
    {% comment %}No match, so keep looking{% endcomment %}
    {% continue %}
  {% else %}
    {% comment %}Match, so insert an Article Card then end.{% endcomment %}

{% include article_card.html
  url=post.url
  image=post.image
  image_alt=post.image_alt
  title=post.title
  description=post.description
%}

    {% comment %}Done!{% endcomment %}
    {% break %}
  {% endif %}
{% endfor %}
