{% comment %}
  book_listing.html
  Parameters:
    - author (optional): filter books for a specific author.
    - series (optional): if provided, display only books from this series.
{% endcomment %}

{% comment %}
Sort all books by number so that when we pull out series, they are already
ordered first to last within the series.
{% endcomment %}
{% assign relevant_books = site.books | sort: "book_number" %}

{% comment %} Filter books by author if provided {% endcomment %}
{% if include.author %}
  {% assign relevant_books = relevant_books | where: "book_author", include.author %}
{% endif %}

{% if include.series %}

  {% comment %} Display books from a specific series {% endcomment %}
  {% assign series_books = relevant_books | where: "series", include.series %}
  {% if series_books.size > 0 %}
  <div class="card-grid">
      {% for book in series_books %}
        {% include auto_book_card_from_object.html book=book %}
      {% endfor %}
  </div>
  {% else %}
    {% link no_books_found_error %}
  {% endif %}

{% else %}

  {% comment %} TODO: Sort these by title {% endcomment %}
  {% comment %} Collect standalone books (books without a series) {% endcomment %}
  {% assign standalone_books = relevant_books | where_exp: "book", "book.series == null" %}

  {% if standalone_books.size > 0 %}
  <h2 class="book-list-headline">Standalone Books</h2>
  <div class="card-grid">
      {% for book in standalone_books %}
        {% include auto_book_card_from_object.html book=book %}
      {% endfor %}
  </div>
  {% endif %}

  {% comment %} Generate a sorted list of unique series names {% endcomment %}
  {% assign series_list = relevant_books | map: "series" | compact | uniq | sort %}
  {% for series in series_list %}
  <h2 class="series-title">
    <span class="book-series">{{ series }}</span>
  </h2>
  <div class="card-grid">
      {% assign series_books = relevant_books | where: "series", series %}
      {% for book in series_books %}
        {% include auto_book_card_from_object.html book=book %}
      {% endfor %}
  </div>
  {% endfor %}
{% endif %}
