<aside class="book-topbar">
  <nav class="book-nav">
    {% comment %}
      The code below dynamically generates a topbar nav of pages in /books/
      This now uses the pre-computed list from LinkCacheGenerator for performance.
    {% endcomment %}

    Sort by:

    {% for node in site.data.link_cache.books_topbar_nav %}
      {% if node.short_title != null %}
        <a class="book-nav-item {% if page.url == node.url %} active{% endif %}" href="{{site.baseurl}}{{ node.url }}">{{ node.short_title }}</a>
      {% endif %}
    {% endfor %}
  </nav>
</aside>
