{% assign star = "<span class='book_star full_star'>★</span>" %}
{% assign empty_star = "<span class='book_start empty_star'>☆</span>" %}

{% assign rating = include.rating %}

{% if  rating == 1 or rating == "1"
    or rating == 2 or rating == "2"
    or rating == 3 or rating == "3"
    or rating == 4 or rating == "4"
    or rating == 5 or rating == "5" %}
<div class="book_rating">
    {% if rating == "1" or rating == 1%}
        {{star}}{{empty_star}}{{empty_star}}{{empty_star}}{{empty_star}}
    {% elsif rating == "2" or rating == 2 %}
        {{star}}{{star}}{{empty_star}}{{empty_star}}{{empty_star}}
    {% elsif rating == "3" or rating == 3 %}
        {{star}}{{star}}{{star}}{{empty_star}}{{empty_star}}
    {% elsif rating == "4" or rating == 4 %}
        {{star}}{{star}}{{star}}{{star}}{{empty_star}}
    {% elsif rating == "5" or rating == 5 %}
        {{star}}{{star}}{{star}}{{star}}{{star}}
    {% endif %}
</div>
{% endif %}
