{% comment %} Test for home page {% endcomment %}
{% if page.title == "Home" %}
  {% assign is-home = true %}
{% else %}
  {% assign is-home = false %}
{% endif %}

{% comment %} If home {% endcomment %}
{% if is-home %}
  {% assign card-title = site.title | append: " &middot; " | append: site.tagline %}
  {% assign og-type = "profile" %}
{% else %}
  {% comment %} If post {% endcomment %}
  {% assign card-title = page.title %}
  {% assign og-type = "article" %}
{% endif %}

{% comment %}
  If the page has a description, use that, otherwise use the site's.
{% endcomment %}
{% if page.description %}
  {% assign card-description = page.description %}
{% else %}
  {% assign card-description = site.description %}
{% endif %}

{% comment %}
  If the page has an image, use that, otherwise use an author photo.
{% endcomment %}
{% if page.image %}
  {% assign card-image = site.url | append: "/" | append: page.image %}
  {% assign twitter-card-type = "summary_large_image"%}
{% else %}
  {% assign card-image = site.url | append: "/files/headshot.jpg" %}
  {% assign twitter-card-type = "summary" %}
{% endif %}

{% assign twitter-name = site.data.social.twitter %}
{% assign card-url = site.url | append: page.url %}

{% comment %} Set creation and modified times. {% endcomment %}
{% if page.date %}
  {% assign published-time = page.date | date_to_xmlschema %}
{% else %}
  {% assign published-time = "now" | date: "%B %d, %Y" | date_to_xmlschema %}
{% endif %}

<!-- Site-wide metadata -->
<meta name="twitter:card"    content="{{ twitter-card-type }}">
<meta name="twitter:site"    content="@{{ twitter-name }}">
<meta name="twitter:creator" content="@{{ twitter-name }}">
<meta name="og:site_name"    content="{{ site.name }}">

<!-- Title -->
<meta name="twitter:title" content="{{ card-title }}">
<meta property="og:title"  content="{{ card-title }}">

<!-- URL -->
<meta name="twitter:url" content="{{ card-url }}">
<meta property="og:url"  content="{{ card-url }}">

<!-- Description -->
<meta name="twitter:description" content="{{ card-description }}">
<meta property="og:description"  content="{{ card-description }}">

<!-- Image -->
<meta name="twitter:image" content="{{ card-image }}">
<meta property="og:image"  content="{{ card-image }}">

<!-- OpenGraph Type -->
<meta property="og:type" content="{{ og-type }}">
{% if is-home %}
<!-- Home Page -->
  <meta property="profile:first_name"     content="{{ site.author.first }}">
  <meta property="profile:last_name"      content="{{ site.author.last }}">
  <meta property="profile:user_name"      content="@{{ twitter-name }}">
{% else %}
<!-- Article Page -->
  <meta property="article:published_time" content="{{ published-time }}">
  <meta property="article:author"         content="{{ site.url }}">
{% endif %}
