{%- comment -%}
  _includes/favorites_banner.html
  - Renders a banner if the current book page is featured in one or more
    "Favorite Books of..." posts.
  - It reads from site.data.link_cache.favorites_mentions, which is built
    by the LinkCacheGenerator plugin.
  - Included from the _layouts/book.html template.
{%- endcomment -%}

{%- if site.data.link_cache.favorites_mentions[page.url] -%}
  {%- assign featured_in_posts = site.data.link_cache.favorites_mentions[page.url] -%}
  {%- if featured_in_posts.size > 0 -%}
    <aside class="featured-in-banner">
      <p>
        <strong>Featured In: </strong>
        {%- for post in featured_in_posts -%}
          <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>{%- unless forloop.last -%}, {% endunless -%}
        {%- endfor -%}
      </p>
    </aside>
  {%- endif -%}
{%- endif -%}
