{% comment %} Combine books and blog posts together and sort so the newest are
at the top. {% endcomment %}
{% assign all_posts = site.posts | concat: site.books | sort: 'date' | reverse %}

<div class="card-grid">
{% for post in all_posts limit:5 %}
  {% comment %} Books and blog posts have different card types, so separate
  them now.{% endcomment %}
  {% if post.layout == 'book' %}
    {% comment %} Book card. {% endcomment %}
    {% render_book_card post %}
  {% elsif post.layout == 'post' %}
    {% comment %} Article cards. {% endcomment %}
    {% render_article_card post %}
  {% endif %}
{% endfor %}
</div>
