{%- comment %}
If the include is broken across multiple lines, sometimes the title has \n
charters in it and we need to remove them. But the only way to get a newline
in liquid is to capture it (it doesn't understand \n).
{% endcomment -%}
{%- capture newline %}
{% endcapture -%}

{%- assign target_title = include.title | replace: newline,' ' | downcase | strip -%}

{%- if include.layout != null and include.layout != '' -%}
    {%- assign target_layout = include.layout | replace: newline,' ' | strip -%}
{%- else -%}
    {%- assign target_layout = null -%}
{%- endif -%}

{%- assign url = null -%}

{%- comment %}Try to find the page and set a URL.

We have to combine a lot of different collections to get all the pages on the
site.{% endcomment -%}
{%- assign pages = site.pages | where_exp: "item", "item.title" -%}
{%- assign books = site.books -%}
{%- assign posts = site.posts -%}

{%- assign all_pages = pages | concat: books | concat: posts -%}

{%- for p in all_pages -%}
    {%- if p.title == null or p.title == '' -%}
        {%- continue -%}
    {%- endif -%}

    {%- if p.layout == target_layout or target_layout == null -%}
        {% assign normalized_title = p.title | downcase | strip %}
        {%- if normalized_title == target_title -%}
            {%- assign url = p.url -%}
            {%- break -%}
        {%- endif -%}
    {%- endif -%}
{%- endfor -%}

{{- url -}}
