{%- comment -%}
Sometimes the `include.url` has been broken over lines or contains newlines.
Liquid doesn't support `\n` literals, so we capture a real newline and remove it.
{%- endcomment -%}
{%- capture newline %}
{% endcapture -%}

{%- assign target_url = include.url | replace: newline, " " | strip -%}
{%- assign title = null -%}

{%- comment -%}
Search all pages (from all major collections) to find the page
with a matching URL, and return its title.
{%- endcomment -%}
{%- assign pages = site.pages | where_exp: "item", "item.title" -%}
{%- assign books = site.books -%}
{%- assign posts = site.posts -%}
{%- assign all_pages = pages | concat: books | concat: posts -%}

{%- for p in all_pages -%}
  {%- if p.url == target_url -%}
    {%- assign title = p.title -%}
    {%- break -%}
  {%- endif -%}
{%- endfor -%}

{{- title -}}
