{% comment %}
Related posts or recent posts, depending on if the article is part of a
category or not.
{% endcomment %}

{% assign max_posts = 3 %}
{% assign placed_posts = '' | split: '' %}

{% comment %} Store the two h2 snippets to variables {% endcomment %}

{% assign placed_h2 = false %}

{% capture related_snippet %}
<!-- Related Posts -->
<aside class="related">
  <h2>Related Posts</h2>
  <div class="card-grid">
{% endcapture %}

{% capture recent_snippet %}
<!-- Recent Posts -->
<aside class="related">
  <h2>Recent Posts</h2>
  <div class="card-grid">
{% endcapture %}

{% capture close_h2 %}
  </div>
</aside>
{% endcapture %}

{% comment %} Try to get up to max_posts related posts {% endcomment %}

{% if page.categories != empty %}
  {% for post in site.posts %}
    {% if post.url != page.url %}
      {% if placed_posts.size < 3 %}
        {% for category in page.categories %}
          {% if post.categories contains category %}
            {% unless placed_posts contains post.url %}
              {% comment %} Place the h2 if we haven't already {% endcomment %}
              {% if placed_h2 == false %}
                {{ related_snippet }}
                {% assign placed_h2 = true %}
              {% endif %}
              {% comment %} Place a related article {% endcomment %}
              {% include article_card.html
                url=post.url
                image=post.image
                image_alt=post.image_alt
                title=post.title
                description=post.description
              %}
              {% assign placed_posts = placed_posts | push: post.url %}
              {% continue %}
            {% endunless %}
          {% endif %}
        {% endfor %}
      {% else %}
        {% break %}
      {% endif %}
    {% endif %}
  {% endfor %}
{% endif %}

{% comment %} Fill in the remaining posts with recent ones {% endcomment %}

{% if site.related_posts != empty %}
  {% if placed_posts.size < max_posts %}
    {% comment %} Place the h2 if we haven't already {% endcomment %}
    {% if placed_h2 == false %}
      {{ recent_snippet }}
      {% assign placed_h2 = true %}
    {% endif %}
    {% comment %} Place a recent article {% endcomment %}
    {% for post in site.related_posts %}
      {% if placed_posts.size < max_posts %}
        {% unless placed_posts contains post.url %}
          {% include article_card.html
            url=post.url
            image=post.image
            image_alt=post.image_alt
            title=post.title
            description=post.description
          %}
          {% assign placed_posts = placed_posts | push: post.url %}
        {% endunless %}
      {% else %}
        {% break %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endif %}

{% comment %} Close the h2 divs if they were placed {% endcomment %}

{% if placed_h2 == true %}
  {{ close_h2 }}
{% endif %}
