{% comment %}
{{ site.url }} is required for the share-url because it is passed to an
external site which cannot use a relative URL.
{% endcomment %}
{% assign share-url = page.url | prepend: site.baseurl | prepend: site.url %}
{% assign share-title = page.title | url_encode %}
{% assign share-excerpt = page.description | url_encode %}

<aside class="sharing">
  <!-- Facebook Button -->
  <a class="social-button facebook-button" href="https://www.facebook.com/sharer/sharer.php?u={{ share-url }}" >
    {% include icon-facebook.svg %}
  </a>
  <!-- Twitter Button -->
  <a class="social-button twitter-button" href="https://twitter.com/intent/tweet?text={{ share-title }}&amp;via={{ site.author.twitter }}&amp;url={{ share-url }}">
    {% include icon-twitter.svg %}
  </a>
  <!-- LinkedIn Button -->
  <a class="social-button linkedin-button" href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ share-url }}&amp;title={{ share-title }}&amp;summary={{ share-excerpt }}&amp;source=AlexGude.com">
    {% include icon-linkedin.svg %}
  </a>
</aside>
