{% assign homeurl = site.baseurl | append: "/" %}

<aside role="complementary" class="sidebar">
  <div class="sidebar-portrait">
    <img src="/files/headshot-small.jpg" alt="Headshot of Alexander Gude"/>
  </div>
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <div class="site-title">
        <a href="{{ homeurl }}" title="Home">{{ site.title }}</a>
      </div>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav role="navigation" class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == homeurl %} active{% endif %}" href="{{ homeurl }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with `layout: page` in the front-matter.
      {% endcomment %}

      {% for node in site.pages %}
        {% if node.title != null and node.sidebar_include == true %}
          {% unless node.url contains "page" %} {% comment %} Paginated Blog pages should not be included in the sidebar. {% endcomment %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{site.baseurl}}{{ node.url }}">{{ node.title }}</a>
          {% endunless %}
        {% endif %}
      {% endfor %}

    </nav>

    {% comment %} Social links {% endcomment %}
    <div class="sidebar-social-links">
      Follow me on: 
      <div class="sidebar-social-links-buttons">
        <!-- Twitter Button -->
        <a rel="me" class="sidebar-button twitter-button" href="https://twitter.com/{{ site.author.twitter }}">
          <svg class="twitter" xmlns="https://www.w3.org/2000/svg" viewBox="0 0 28 28">
            <path d="M24.253 8.756C24.69 17.08 18.297 24.182 9.97 24.62a15.093 15.093 0 0 1-8.86-2.32c2.702.18 5.375-.648 7.507-2.32a5.417 5.417 0 0 1-4.49-3.64c.802.13 1.62.077 2.4-.154a5.416 5.416 0 0 1-4.412-5.11 5.43 5.43 0 0 0 2.168.387A5.416 5.416 0 0 1 2.89 4.498a15.09 15.09 0 0 0 10.913 5.573 5.185 5.185 0 0 1 3.434-6.48 5.18 5.18 0 0 1 5.546 1.682 9.076 9.076 0 0 0 3.33-1.317 5.038 5.038 0 0 1-2.4 2.942 9.068 9.068 0 0 0 3.02-.85 5.05 5.05 0 0 1-2.48 2.71z"/>
          </svg>
        </a>
        <!-- Mastodon Button -->
        <a rel="me" class="sidebar-button mastodon-button" href="https://fediscience.org/@{{ site.author.mastodon }}">
          <svg class="mastodon" xmlns="https://www.w3.org/2000/svg" viewBox="0 0 417.8 512">
            <path d="M417.8 179.1c0-97.2-63.7-125.7-63.7-125.7-62.5-28.7-228.5-28.4-290.4 0 0 0-63.7 28.5-63.7 125.7 0 115.7-6.6 259.4 105.6 289.1 40.5 10.7 75.3 13 103.3 11.4 50.8-2.8 79.3-18.1 79.3-18.1l-1.7-36.9s-36.3 11.4-77.1 10.1c-40.4-1.4-83-4.4-89.6-54-.6-4.4-.9-9-.9-13.9 85.6 20.9 158.6 9.1 178.7 6.7 56.1-6.7 105-41.3 111.2-72.9 9.8-49.8 9-121.5 9-121.5zm-75.1 125.2h-46.6V190.1c0-49.7-64-51.6-64 6.9v62.5h-46.3V197c0-58.5-64-56.6-64-6.9v114.2H75.1c0-122.1-5.2-147.9 18.4-175 25.9-28.9 79.8-30.8 103.8 6.1l11.6 19.5 11.6-19.5c24.1-37.1 78.1-34.8 103.8-6.1 23.7 27.3 18.4 53 18.4 175z"/>
            <!--Font Awesome Free 5.4.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)-->
          </svg>
        </a>
        <!-- LinkedIn Button -->
        <a rel="me" class="sidebar-button linkedin-button" href="https://www.linkedin.com/in/{{ site.author.linkedin}}/">
          <svg class="linkedin" xmlns="https://www.w3.org/2000/svg" viewBox="0 0 28 28">
            <path d="M25.424 15.887v8.447h-4.896v-7.882c0-1.98-.71-3.33-2.48-3.33-1.354 0-2.158.91-2.514 1.802-.13.315-.162.753-.162 1.194v8.216h-4.9s.067-13.35 0-14.73h4.9v2.087c-.01.017-.023.033-.033.05h.032v-.05c.65-1.002 1.812-2.435 4.414-2.435 3.222 0 5.638 2.106 5.638 6.632zM5.348 2.5c-1.676 0-2.772 1.093-2.772 2.54 0 1.42 1.066 2.538 2.717 2.546h.032c1.71 0 2.77-1.132 2.77-2.546C8.056 3.593 7.02 2.5 5.344 2.5h.005zm-2.48 21.834h4.896V9.604H2.867v14.73z"/>
          </svg>
        </a>
      </div>
    </div>

    {% comment %} Legal text {% endcomment %}
    <small>
      &copy; <time datetime="{{ '2016-01-01T00:00:00Z' | date_to_xmlschema }}">2016</time>–<time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. All rights reserved.
      <br>
      <a class="legal{% if page.url == "/privacy-policy/" %} active{% endif %}" href="/privacy-policy/">Privacy Policy</a>
    </small>

  </div>
</aside>
