{% assign homeurl = site.baseurl | append: "/" %}

<aside role="complementary" class="sidebar">
  <div class="sidebar-portrait">
    <img src="/files/headshot-small.jpg" alt="Headshot of Alexander Gude"/>
  </div>
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <div class="site-title">
        <a href="{{ homeurl }}" title="Home">{{ site.title }}</a>
      </div>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav role="navigation" class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == homeurl %} active{% endif %}" href="{{ homeurl }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with `layout: page` in the front-matter.
      {% endcomment %}

      {% for node in site.pages %}
        {% if node.title != null and node.layout == "page" and node.sidebar_include != false %}
          {% unless node.url contains "page" %} {% comment %} Paginated Blog pages should not be included in the sidebar. {% endcomment %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{site.baseurl}}{{ node.url }}">{{ node.title }}</a>
          {% endunless %}
        {% endif %}
      {% endfor %}

    </nav>
    <small>
      &copy; <time datetime="{{ '2016-01-01T00:00:00Z' | date_to_xmlschema }}">2016</time>–<time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. All rights reserved.
      <br>
      <a class="legal{% if page.url == "/privacy-policy/" %} active{% endif %}" href="/privacy-policy/">Privacy Policy</a>
    </small>
  </div>
</aside>
