{% assign homeurl = site.baseurl | append: "/" %}

<aside role="complementary" class="sidebar">
  <div class="sidebar-portrait">
    <img src="/files/headshot-small.jpg" alt="Headshot of Alexander Gude"/>
  </div>
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <div class="site-title">
        <a href="{{ homeurl }}" title="Home">{{ site.title }}</a>
      </div>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav role="navigation" class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == homeurl %} active{% endif %}" href="{{ homeurl }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with `layout: page` in the front-matter.
      {% endcomment %}

      {% for node in site.pages %}
        {% if node.title != null and node.sidebar_include == true %}
          {% unless node.url contains "page" %} {% comment %} Paginated Blog pages should not be included in the sidebar. {% endcomment %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{site.baseurl}}{{ node.url }}">{{ node.title }}</a>
          {% endunless %}
        {% endif %}
      {% endfor %}

    </nav>

    {% comment %} Social links {% endcomment %}
    <div class="sidebar-social-links">
      Follow me on: 
      <div class="sidebar-social-links-buttons">
        {% comment %} Twitter Button {% endcomment %}
        <a rel="me" class="sidebar-button twitter-button" href="https://twitter.com/{{ site.author.twitter }}">
          {% include icon-twitter.svg %}
        </a>
        {% comment %} BlueSky Button {% endcomment %}
        <a rel="me" class="sidebar-button bluesky-button" href="https://bsky.app/profile/{{ site.author.bluesky }}">
          {% include icon-bluesky.svg %}
        </a>
        {% comment %} Mastodon Button {% endcomment %}
        <a rel="me" class="sidebar-button mastodon-button" href="https://{{ site.author.mastodon_instance }}/@{{ site.author.mastodon }}">
          {% include icon-mastodon.svg %}
        </a>
        {% comment %} Github Button {% endcomment %}
        <a rel="me" class="sidebar-button github-button" href="https://www.github.com/{{ site.author.github}}/">
          {% include icon-github.svg %}
        </a>
        {% comment %} LinkedIn Button {% endcomment %}
        <a rel="me" class="sidebar-button linkedin-button" href="https://www.linkedin.com/in/{{ site.author.linkedin}}/">
          {% include icon-linkedin.svg %}
        </a>
        {% comment %} RSS Button {% endcomment %}
        <a class="sidebar-button rss-button" href="/feed.xml">
          {% include icon-rss.svg %}
        </a>
      </div>
    </div>
    <br>

    {% comment %} Legal text {% endcomment %}
    <small>
      &copy;&nbsp;<time datetime="{{ '2016-01-01T00:00:00Z' | date_to_xmlschema }}">2016</time>–<time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time> by {{ site.author.name }}
    </small>

  </div>
</aside>
