{% if include.author %}
  {% assign relevant_books = include.books | where: "book_author", include.author %}
{% else %}
  {% assign relevant_books = include.books %}
{% endif %}

{% assign has_standalone = false %}
{% for book in relevant_books %}
  {% if book.series == empty or book.series == null %}
    {% assign has_standalone = true %}
    {% break %}
  {% endif %}
{% endfor %}

{% if has_standalone %}
  <h2 class="book-list-headline">Standalone Books</h2>
  <div class="card-grid">
    {% for book in relevant_books %}
      {% if book.series == empty or book.series == null %}
        {% include auto_book_card_from_object.html book=book %}
      {% endif %}
    {% endfor %}
  </div>
{% endif %}
