// Use 'variables' and make its members available globally in this file
@use "variables" as *;

// Card Grid
.card-grid {
  display: flex;
  flex-direction: column;
  gap: 0;
  background-color: unset;
  align-items: stretch;
  border: none;
  border-radius: 0;
  padding: 0;
  margin-top: 0.5em;
}

// Shared card styling
.article-card,
.book-card {
  display: grid;
  grid-gap: 1em;
  align-items: start;
  padding: 1.25em 0;
  border-bottom: 1px solid #e5e5e5;

  &:first-child {
    border-top: 1px solid #e5e5e5;
  }
}

// Stacked layout image constraint (narrow screens)
.card-image,
.card-book-cover {
  max-width: 50%;
}

// Card-specific ratios (wide screens)
@media (min-width: $more-space-breakpoint) {
  .article-card {
    grid-template-columns: 1fr 2fr;
  }

  .book-card {
    grid-template-columns: 1fr 3fr;
  }

  .card-image,
  .card-book-cover {
    max-width: none;
  }
}

.card-element {
  padding: 0.2em;
}

.card-image {
  @extend .card-element;
  img {
    margin: 0;
  }
}

.card-book-cover {
  @extend .card-element;
  img {
    margin: 0;
  }
}

.card-text {
  @extend .card-element;
  font-size: $card-font-size;
}
