// Portraits
.sidebar-portrait {
    position: relative;
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 50%;
    margin: auto; // Center horizontally

    img {
      width: 100%;
      height: auto;
    }

  // Hide the image if the screen is too small and the sidebar is out
  @media (min-width: $sidebar-appear-breakpoint) and (max-height: 62rem) {
    display: none;
  }
}

// Center headlines
div.headline-center {
  h1, h2, h3, h4, h5, h6 {
    text-align: center;
  }
}

// Small sidebar
.sidebar small {
  font-size: $legal-font-size;
}

// Legal links
.legal {
  font-size: $legal-font-size;
  color: #999999;
}

// Video
.video-gif {
  position : relative;
  display : block;
  width : 100%;
  min-width : 200px;
  margin : auto;
  height : auto;
}

// Site Title (to avoid using H1)
.site-title {
  color: #ffffff;
  font-family: $site-title-font-family;
  font-size: $site-title-font-size;
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 0.5rem;
  margin-top: 0;
  text-rendering: optimizeLegibility;
}

// Image captions using this trick: https://stackoverflow.com/a/30366422
img + em { // An image followed by an emphasized line
  display: block;
  text-align: center;
}

// Center the image in a figure
figure img {
  margin: auto;
}

// Check boxes
input[type="checkbox"].task-list-item-checkbox {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  margin: 4px 8px 4px 4px !important;
  width: 0.85rem;
  height: 0.85rem !important;
  border: 3px solid $body-bg;
  outline: 1.5px solid $body-color;
  vertical-align: bottom;
}

input[type="checkbox"]:checked.task-list-item-checkbox {
  background: $body-color;
}

// Tags on posts
.post-under-title {
  margin-top: 0.6em;
  margin-bottom: 0.6em;
  font-size: 1.2rem;
}

a.post-tag {
  margin-right: 0.8em;
  margin-bottom: 0.8em;
  font-family: $code-font-family;
  font-weight: bold;
  white-space: nowrap;
}

// Details with markdown="1"
details>summary {
  list-style: none;
  margin-bottom: 1rem;
}

summary::after {
  content: " ▶ Show";
  color: $sidebar-color;
  display: block;
}

details[open] summary:after {
  content: " ▼ Hide";
}

// Anchor links
h1 .anchor-link-img, h2 .anchor-link-img, h3 .anchor-link-img, h4 .anchor-link-img, h5 .anchor-link-img, h6 .anchor-link-img  {
  visibility: hidden;
}

h1:hover .anchor-link-img, h2:hover .anchor-link-img, h3:hover .anchor-link-img, h4:hover .anchor-link-img, h5:hover .anchor-link-img, h6:hover .anchor-link-img {
  visibility: visible;
}

.anchor-link-img {
  fill: $sidebar-color;
  padding: 0;
  vertical-align: middle;
}

.nowrap {
  white-space: nowrap;
}

// Super and subscript on the same word
.supsub {
    display: inline-block;
}

.supsub sup,
.supsub sub {
    position: relative;
    display: block;
    font-size: 0.5em;
    line-height: 1.2;
}

.supsub sub {
    top: 0.3em;
}

// ChatGPT include
.chatgpt-prompt-only,
.chatgpt-output-only {
  font-family: $code-font-family;
}

// Book titles in paragraphs
.book-title {
  font-style: italic;
}

.book-rating {
  font-size: 1.3em;
  margin-bottom: 0.5em;
}

// Book Cover Images at top of article
.floating-book-cover {
  float: right;
}

.book-cover-lead {
  // If the image is smaller, use it's natural size
  // otherwise restrict it
  max-height: 20em;
  height: auto;
  width: auto;
  padding: 1em;
  margin: 0em;
}
