/* Circular portrait on the sidebar */
.circular-portrait {
  position: relative;
  width: 250px;
  height: 250px;
  overflow: hidden;
  border-radius: 50%;
  margin: auto; // Center horizontally
}

.circular-portrait img {
  width: 100%;
  height: auto;
}
