.resume {
  //font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif;
}

.resume h1 {
  text-align: center;
}

.resume .subtitle {
  text-align: center;
  font-size: $h3-font-size;
}

.resume h2 {
  color: $sidebar-color;
  overflow: hidden;
}

.resume h2:after {
  content: '';
  display: inline-block;
  vertical-align:middle;
  border-bottom: 0.1rem solid  $sidebar-color;
}

.resume h2:after {
  width: 80%;
  margin-right: -100%;
}

.resume h3 {
  margin-top: 0.1rem;
}

.resume-experience-section-header {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  overflow: hidden;
}

.resume-experience-row {
  overflow: hidden;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}

.resume-experience-company, .resume-experience-position {
  float: left;
}

.resume-experience-location, .resume-experience-dates {
  float: right;
}

.resume-experience-location {
  font-weight: bold;
}

.resume-experience-position, .resume-experience-dates {
  font-style: italic;
}

.resume-experience-section-header {
}

// Justify text
.resume p, li {
  word-break: break-word;  
  text-align: justify;  
  text-justify: inter-character;    
  hyphens: auto;  
  hyphenate-limit-lines: 2;  
}

.resume-experience-section-header p {
  text-align: unset;
  margin-bottom: 0;
}

.resume table {
  border-style: none;
}

// LaTeX
.tex sub, .latex sub, .latex sup {
  text-transform: uppercase;
}

.tex sub, .latex sub {
  vertical-align: -0.5ex;
  margin-left: -0.1667em;
  margin-right: -0.125em;
}

.tex, .latex, .tex sub, .latex sub {
  font-size: 1em;
}

.latex sup {
  font-size: 0.85em;
  vertical-align: 0.15em;
  margin-left: -0.36em;
  margin-right: -0.15em;
}
