// Use 'variables' and make its members available globally in this file
@use "variables" as *;

.sharing {
  float: right;
  // Flexbox configuration
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.social-button {
  padding: 0.4em;
  margin: 0.15em;
  width: 2em;
  height: 2em;
  border-radius: 0.3em;
}

.sidebar-button {
  padding: 0.25em;
  margin: 0.15em;
  width: 1.5em;
  height: 1.5em;
  border-radius: 0.2em;
}

.sidebar-button, .social-button {
  // Use a flex inside each button to align the SVG
  display: flex;
  align-items: center;
  align-content: center;

  svg {
    fill: white;
  }

  background: $share-button-color;

  &:hover {
    background: $share-hover-color;
  }
}

// For the sidebar buttons
.sidebar-social-links {
  color: #ffffff;
}

.sidebar-social-links-buttons {
  // Flexbox configuration
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
@media (min-width: $sidebar-appear-breakpoint) {
  .sidebar-social-links-buttons {
    // Flexbox configuration
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
  }
}
