$root-font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif; 
$code-font-family: "Ubuntu Mono", Menlo, Monaco, Consolas, "Lucida Console", monospace;
$site-title-font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;

$root-line-height: 1.5;

$body-bg:            white;
$body-color:         hsl(  0,  0%, 32%);
$border-color:       hsl(  0,  0%, 90%);
$code-color:         hsl(354, 42%, 56%);
//$link-color:         hsl(205, 69%, 49%);
$sidebar-color:      hsl(214, 52%, 42%);
$share-button-color: hsl(  0,  0%, 13%);
$share-hover-color:  hsl(  0,  0%, 53%);


// Font sizes
//
// We use em so that they scale according to what the user sets in their
// browser. The default is 25% larger (20px if the default is 16px), but for
// small view sizes we use the user value.
$small-screen-root-font-size: 1em;
$root-font-size: 1.25em;

// Set headline font-sizes
$site-title-font-size: 3.25rem;
$h1-font-size: 2rem;
$h2-font-size: 1.5rem;
$h3-font-size: 1.25rem;
$h456-font-size: 1rem;

// Set font sizes of some special elements
$abbr-font-size: 0.85rem;
$card-font-size: 0.85rem;
$code-block-font-size: 0.80rem;
$code-inline-font-size: 0.85em;  // em because we embed it in other things, like tables
$footnote-font-size: 0.85rem;
$lead-font-size: 1.25rem;
$legal-font-size: 0.625rem;
$table-font-size: 0.85rem;

// Screen Widths for transformations
$large-top-bar-breakpoint: 30em;
$large-breakpoint: 38em;
$sidebar-appear-breakpoint: 48em;
$more-space-breakpoint: 64em;
$font-size-increase-breakpoint: 58em;
