---
layout: page
sidebar_include: true
title: Writings
description: >
  Posts from Alexander Gude on technology, data science, machine learning, and
  anything else I find interesting. Updated just often enough! Come on in!
redirect_from:
  - /blog/page2/
  - /blog/page3/
  - /blog/page4/
  - /blog/page5/
  - /blog/page6/
  - /blog/page7/
  - /blog/page8/
  - /blog/page9/
  - /blog/page10/
  - /blog/page11/
---

Below you can find my writings on machine learning, data science, and
technology. Enjoy!

<!-- Posts -->
{% if render_mode != 'markdown' %}<ul class="card-grid">{% endif %}
{% for post in site.posts %}
  {% render_article_card post %}
{% endfor %}
{% if render_mode != 'markdown' %}</ul>{% endif %}
