---
layout: page
sidebar_include: true
title: Writings
description: >
  Posts from Alexander Gude on technology, data science, machine learning, and
  anything else I find interesting. Updated just often enough! Come on in!
---

Below you can find my writings on machine learning, data science, and
technology. Enjoy!

<!-- Posts -->
<div class="card-grid">
  {% for post in paginator.posts %}
    {% comment %} Article cards with an image and description. {% endcomment %}
    {% render_article_card post %}
  {% endfor %}
</div>

<!-- "Older" and "Newer" buttons -->
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
