---
layout: default
---

{% comment %}Here we test for required variables and throw an error if we
don't find them.{% endcomment %}
{% if page.title == null or page.title == "" %}
    {% link throw_value_error_missing_page_title %}
{% endif %}
{% if page.book_author == null or page.book_author == "" %}
    {% link throw_value_error_missing_author %}
{% endif %}
{% if page.book_number == null or page.book_number == "" %}
    {% link throw_value_error_missing_book_number %}
{% endif %}

<article class="page">
  <h1 class="page-title"><cite class="book-title">{{ page.title }}</cite></h1>

  {% if page.image %}
  <div class="floating-book-cover">
    <img class="book-cover-lead"
      src="{{ page.image }}"
      alt="Book cover of {{ page.title }}."
    >
  </div>
  {% endif %}

  <div class="written-by">By {% include author_link.html name=page.book_author%}</div>

  {% if page.series and page.book_number %}

    {% comment %}Now place the actual div.{% endcomment %}
    <div class="book-series-line">
      Book {{page.book_number}} of {% include get_series_text.html series=page.series %}
    </div>
  {% endif %}

  {% if page.awards %}
    <div class="book-awards">
      Awards:
      {% for award in page.awards %}
        <a class="book-award" href="/books/by-award/#{{ award | slugify }}-award">{{ award | capitalize }}</a>{% unless forloop.last %}, {% endunless %}
      {% endfor %}
    </div>
  {% endif %}

  <h2 class="book-review-headline">Review</h2>
  {% comment %}Add star rating, if one exists in the metadata{% endcomment %}
  {% if page.rating %}
    {% include book_rating.html rating=page.rating %}
  {% endif %}

  {{ content }}

  {% comment %}Links to other reviews.{% endcomment %}

</article>

<hr>

<!-- Backlinks -->
{% include book_backlinks.html %}

<!-- Related and Recent Books -->
{% include related_books.html %}
