---
layout: default
---

<article class="page">
  <h1 class="page-title"><cite class="book-title">{{ page.title }}</cite></h1>

  {% if page.image %}
  <div class="book-cover-float-container">
    <img class="book-cover-lead"
      src="{{ page.image }}"
      alt="Book cover of {{ page.title }}."
    >
  </div>
  {% endif %}

  {% comment %} Authors {% endcomment %}
  {% assign authors_html_output = "" %}
  {% capture captured_authors_html %}
    {% display_authors page.book_authors %}
  {% endcapture %}
  {% assign authors_html_output = captured_authors_html | strip %}

  {% if authors_html_output != "" %}
    <div class="written-by">by {{ authors_html_output }}</div>
  {% endif %}

  {% comment %} Series {% endcomment %}
  {% if page.series and page.book_number %}
    <div class="book-series-line">
      Book {{page.book_number}} of {% series_text page.series %}
    </div>
  {% endif %}

  {% comment %} Awards {% endcomment %}
  {% if page.awards %}
    <div class="book-awards">
      Awards:
      {% assign sorted_awards = page.awards | sort %}
      {% for award in sorted_awards %}
        <a class="book-award" href="/books/by-award/#{{ award | slugify }}-award">
          {%- assign words = award | split: ' ' -%}
          {%- for word in words %}
            {{ word | capitalize }}{%- unless forloop.last %} {% endunless -%}
          {% endfor -%}
        </a>{%- unless forloop.last -%}, {%- endunless -%}
      {% endfor %}
    </div>
  {% endif %}

  <h2 class="book-review-headline">Review</h2>
  {% comment %}Add star rating, if one exists in the metadata{% endcomment %}
  {% if page.rating %}
    {% rating_stars page.rating %}
  {% endif %}

  {{ content }}

</article>

<hr>

<!-- Backlinks -->
{% book_backlinks %}

<!-- Related and Recent Books -->
{% related_books %}
