---
layout: default
---

<article class="page">
  <h1 class="page-title"><cite class="book-title">{{ page.title }}</cite></h1>

  {% if page.image %}
  <div class="floating-book-cover">
    <img class="book-cover-lead"
      src="{{ page.image }}"
      alt="Book cover of {{ page.title }}."
    >
  </div>
  {% endif %}

  {% assign authors_html = "" %} 
  {% assign authors_html = page.book_authors | display_authors %}

  {% if authors_html != "" %}
    <div class="written-by">By {{ authors_html }}.</div>
  {% endif %}


  {% if page.series and page.book_number %}
    <div class="book-series-line">
      Book {{page.book_number}} of {% series_text page.series %}
    </div>
  {% endif %}

  {% if page.awards %}
    <div class="book-awards">
      Awards:
      {% for award in page.awards %}
        <a class="book-award" href="/books/by-award/#{{ award | slugify }}-award">{{ award | capitalize }}</a>{% unless forloop.last %}, {% endunless %}
      {% endfor %}
    </div>
  {% endif %}

  <h2 class="book-review-headline">Review</h2>
  {% comment %}Add star rating, if one exists in the metadata{% endcomment %}
  {% if page.rating %}
    {% rating_stars page.rating %}
  {% endif %}

  {{ content }}

</article>

<hr>

<!-- Backlinks -->
{% book_backlinks %}

<!-- Related and Recent Books -->
{% related_books %}
