---
layout: default
---

<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-under-title">
  <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date: '%B %d, %Y' }}</time>
  {% if page.categories %}
    <!-- Categories -->
    {% assign sorted_categories = page.categories | sort %}
    {% for category in sorted_categories %}
      <a class="post-tag" href="/topics/{{ category }}/">#{{ category }}</a>
    {% endfor %}
  {% endif %}
  </div>

  {% if page.gab41 %}
    <!-- Top note with link back to Gab41 -->
    <p>
    <em>This article originally appeared on
      <a href="{{ page.gab41 }}"><strong>Lab41's blog: Gab41</strong></a>. It
      is reposted here with permission.</em>
    </p>
  {% endif %}

  {% if page.hide_lead_image != true and page.image %}
    <img id="lead-image"
      src="{{ page.image }}"
      alt="{{ page.image_alt | default: "Article header image, used for decoration." | strip }}"
    />
  {% endif %}

  {{ content }}
</article>

<!-- Share Buttons -->
{% include share.html %}

<!-- Related and Recent Posts -->
{% include related_posts.html %}
